In [2]:
from scipy.stats import ttest_ind

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('exams.csv')

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [61]:
df_male = df.loc[df['gender'] == 'male']
df_female = df.loc[df['gender'] != 'male']

In [62]:
df_male = df_male.iloc[:483,5:8]

In [63]:
df_female = df_female.iloc[:483,5:8]

In [64]:
ttest_ind(df_male, df_female)

Ttest_indResult(statistic=array([ 6.16565224, -6.06790781, -8.00169732]), pvalue=array([1.03088495e-09, 1.86001656e-09, 3.50754839e-15]))

In [41]:
df_male.mean()

math score       69.213251
reading score    66.217391
writing score    63.898551
dtype: float64

In [40]:
df_female.mean()

math score       63.196687
reading score    71.888199
writing score    71.708075
dtype: float64

In [65]:
df_completed = df.loc[df['test preparation course'] == 'completed']
df_not_completed = df.loc[df['test preparation course'] != 'completed']

In [66]:
df_completed.shape

(335, 8)

In [67]:
df_not_completed.shape

(665, 8)

In [68]:
df_completed = df_completed.iloc[:335, 5:8]
df_not_completed = df_not_completed.iloc[:335, 5:8]

In [69]:
ttest_ind(df_completed, df_not_completed)

Ttest_indResult(statistic=array([4.58763142, 7.12473287, 9.42106886]), pvalue=array([5.35436911e-06, 2.70840770e-12, 7.14483046e-20]))

In [73]:
small_df = df.iloc[:,4:]

In [77]:
small_df['test preparation course'] = small_df['test preparation course'].replace('completed', 1).replace('none', 0)

In [83]:
small_df.corr()

,test preparation course,math score,reading score,writing score
test preparation course,1.000000,0.151704,0.245144,0.315601
math score,0.151704,1.000000,0.819398,0.805944
reading score,0.245144,0.819398,1.000000,0.954274
writing score,0.315601,0.805944,0.954274,1.000000

In [85]:
another_small_df = df[["gender", "math score", "reading score", "writing score"]]

In [90]:
another_small_df = another_small_df.replace({"gender": {"male": 1, "female": 0}})

In [91]:
another_small_df.corr()

                 gender  math score  reading score  writing score
gender         1.000000    0.200863      -0.189389      -0.246089
math score     0.200863    1.000000       0.819398       0.805944
reading score -0.189389    0.819398       1.000000       0.954274
writing score -0.246089    0.805944       0.954274       1.000000